$navbar-default-bg:  #3498db;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#bs-example-navbar-collapse-1 ul li a{
    color: rgb(224, 224, 224);
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('rocky.PNG');
    background-size: cover;
    height: 700px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #3498db;
    color: rgb(78, 78, 78);
}

.article-actions {
    border-top: 1px solid #3498db;
    padding-top: 5px;
    margin-top: 15px;
}

footer small {
    float: left;
}

footer nav ul{
    float: right;
    list-style: none;
}

footer nav ul li{
    margin-left: 15px;
}

ul {
    list-style: none;
}

.well {
    word-wrap: break-word;
}