<div class="container">
    <footer>
        <small>
            Alpha blog from <%= link_to "Rails Heroes Course", 'https://www.harryjmg.fr/rails-heroes-course/oix2y' %> Copyright by Harry JMG
        </small>
        <nav>
            <ul>
                <li><%= link_to "A propos", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>